@using ExamTesting.Models
@model ExamTesting.Models.Exam

<div class="mb-4 bg-white">
    <div class="col h2 font-weight-normal">
        @Model.ExamCode: @Model.ExamName
    </div>
</div>

<ul class="nav nav-tabs" id="myNav">
    <li class="nav-item">
        <a class="nav-link @checkCurrentAction("Index")" asp-action="Index" asp-route-id="@Model.ExamCodeId">Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @checkCurrentAction("Questions")" asp-action="Questions" asp-route-id="@Model.ExamCodeId">
        Questions <span class="badge badge-danger">@Model.QuestionsExams.Count</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @checkCurrentAction("TestedBy")" asp-action="TestedBy" asp-route-id="@Model.ExamCodeId">
        Tested by <span class="badge badge-danger">0</span>
</a>
    </li>
</ul>



@functions {

    public string checkCurrentAction(string nameAction)
    {
        var currentAct = this.ViewContext.RouteData.Values["action"].ToString();
        if (currentAct == nameAction)
            return "active";
        return "";
    }
}
