@using ExamTesting.Models
@model  ExamTesting.Models.Exam

@{
    ViewData["Title"] = "Exam";
}

<div id="form-container" class="row">

    <div class="col">
        <div class="card p-5 shadow mb-3 bg-white rounded col">

        @*<h2 class="pb-4 text-center font-weight-light">Exam</h2>*@

        @(Html.DevExtreme().Form<ExamTesting.Models.Exam>()
        .ID("form")
        .ColCount(1)
        .Items(items => {
            items.AddGroup()
                .Caption("Exam Info")

                .Items(groupItems =>
                {

                    groupItems.AddSimpleFor(m => m.ExamName)
                        .Editor(e => e
                            .TextBox()
                            .ReadOnly(true)
                        );

                    groupItems.AddSimpleFor(m => m.SubjectId)
                        .Editor(e => e.SelectBox()
                        .DataSource(d => d.Mvc().Controller("Exam").LoadAction("GetSubjects").Key("SubjectId"))
                            .DisplayExpr("SubjectName")
                            .ValueExpr("SubjectId")
                            .ReadOnly(true)
                            );

                    groupItems.AddSimpleFor(m => m.StartDate)
                        .Editor(e => e
                            .DateBox()
                            .ReadOnly(true)
                            );

                    groupItems.AddSimpleFor(m => m.EndDate)
                        .Editor(e => e
                            .DateBox()
                            .ReadOnly(true)
                            );

                    groupItems.AddSimpleFor(m => m.ExamVersion)
                        .Editor(e => e
                            .TextBox()
                            .ReadOnly(true)
                        );

                });
        })

        .FormData(Model)
    )
            
        </div>

        <div class="row">
            <div class="text-left col">
                @(Html.DevExtreme().Button()
                    .Type(ButtonType.Back).Icon("back").OnClick("Back")
                )
            </div>        
        
            <div class="col text-right">
                <h5>
                    <a asp-action="AssignQuestions" asp-route-id="@Model.ExamCodeId"> Assign New Questions</a>
                </h5>
            </div>
        </div>

    </div>

    <div class="col-2 bg-light">

        @foreach (var eq in Model.QuestionsExams)
        {
            <a asp-action="Index" asp-controller="Question" asp-route-id="@eq.QuestionId">
                <span>@eq.Question.QuestionStr (@eq.Question.QuestionExams.Count)</span><br />
            </a>
        }

        <a asp-action="Questions" asp-route-id="@Model.ExamCodeId">
            <h5>@Model.QuestionsExams.Count</h5> More Questions<br />
        </a>
    </div>
</div>




<script>
    function Back() {
        window.location.href = "@Url.Action("Index","Exams")";
    }
</script>