@using ExamTesting.Models
@model  ExamTesting.Models.Exam

@{
    ViewData["Title"] = "Exam";
}



<div id="form-container" class="row">

    <div class="col">
        
        <partial name="_ExamHeader" />

        <div class="p-4 bg-light rounded col">
        
            <div class="">
                @(Html.DevExtreme().Form<ExamTesting.Models.Exam>()
                .ID("form")
                .ColCount(1)
                .Items(items =>
                        {
                    items.AddGroup()
                        .Caption("Exam Info")
                        .Template(@<text>
                            <div class="h6 font-weight-normal">
                                Subject : @Model.Subject.SubjectName
                            </div>

                            <div class="h6 font-weight-normal">
                                Version : @Model.ExamVersion
                            </div>

                            <div class="h6 font-weight-normal">
                                Start Date : @Model.StartDate
                            </div>
                            
                            <div class="h6 font-weight-normal text-danger">
                                Remaining Day : @Model.RemainingDay
                            </div>
                            

                            <div class="row pt-4">
                                <div class="text-le
                                     ft col">
                                    @(Html.DevExtreme().Button()
                                        .Icon("back")
                                        .Text("Exams List")
                                        .OnClick("Back")
                                    )
                                </div>
                            </div>

                        </text>);

                 })

                )
            </div>
                                            
        </div>
               
    </div>

    <div class="p-3 col-3 bg-light">

        @foreach (var eq in Model.QuestionsExams)
        {
            <a asp-action="Index" asp-controller="Question" asp-route-id="@eq.QuestionId">
                <span>&#9900; @eq.Question.QuestionStr (@eq.Question.QuestionExams.Count)</span><br />
            </a>
        }
        <br />

        <div class="row">
            <div class="text-center col">

                <a asp-action="Questions" asp-route-id="@Model.ExamCodeId">
                    <h5>@Model.QuestionsExams.Count</h5>
                    More Questions<br />
                </a>
            </div>

            <div class="text-center col">

                <a asp-action="TestedBy" asp-route-id="@Model.ExamCodeId">
                    <h5>0</h5>
                    Tested By<br />
                </a>
            </div>
        </div>

    </div>
</div>




<script>
    function Back() {
        window.location.href = "@Url.Action("Index","Exams")";
    }
</script>