@using ExamTesting.Models
@model  ExamTesting.Models.Exam

@{
    ViewData["Title"] = "Exam";
}



    <div id="form-container" class="row">

        <div class="col">

            <partial name="_ExamHeader" />

            <div class="p-4 bg-light rounded col">

                    @(Html.DevExtreme().Form<ExamTesting.Models.Exam>()
                    .ID("form")
                    .ColCount(1)
                    .Items(items =>
                            {
                        items.AddGroup()
                            .Caption("Exam Info")
                            .Template(@<text>
                                <div class="h6 font-weight-normal">
                                    Code : @Model.ExamCode
                                </div>

                                <div class="h6 font-weight-normal">
                                    Subject : @Model.Subject.SubjectName
                                </div>

                                <div class="h6 font-weight-normal">
                                    Version : @Model.ExamVersion
                                </div>

                                <div class="h6 font-weight-normal">
                                    Strat Date : @String.Format("{0:d MMMM yyyy}", @Model.StartDate)
                                </div>

                                <div class="h6 font-weight-normal">
                                    End Date: @String.Format("{0:d MMMM yyyy}", @Model.EndDate)
                                </div>

                                <div class="h6 font-weight-normal text-success">
                                    Passing Rate : @Model.PercentPass %
                                </div>

                                <br />

                                <div class="h6 font-weight-normal text-danger">
                                    Remaining : @Model.RemainingDay Day
                                </div>


                                <div class="row pt-4">
                                    <div class="text-left col">
                                        @(Html.DevExtreme().Button()
                                            .Icon("back")
                                            .Text("Exams List")
                                            .OnClick("Back")
                                        )
                                    </div>
                                </div>

                            </text>);

              })

                    )


            </div>

        </div>

        <partial name="_SuggestQuestion" />

    </div>



<script>
    function Back() {
        window.location.href = "@Url.Action("Index","Exams")";
    }
</script>