



<div id="mySidenav" class="sidenav bg-light font-weight-normal">

    <a class="nav-link @checkCurrentController("Home")" asp-controller="Home" asp-action="Index">Home</a>


    @{
        if (User.IsInRole("Admin"))
        {

            <a class="nav-link @checkCurrentController("Topics") @checkCurrentController("Topic")" asp-area="Admin" asp-controller="Topics" asp-action="Index">Topics</a>

            <a class="nav-link @checkCurrentController("Questions") @checkCurrentController("Question")" asp-area="Admin" asp-controller="Questions" asp-action="Index">Questions</a>

            <a class="nav-link @checkCurrentController("Subjects") @checkCurrentController("Subject")" asp-area="Admin" asp-controller="Subjects" asp-action="Index">Subjects</a>

            <a class="nav-link @checkCurrentController("Exams") @checkCurrentController("Exam")" asp-area="Admin" asp-controller="Exams" asp-action="Index">Exams</a>

            <a class="nav-link @checkCurrentController("Users")" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>

            @*<a class="nav-link @checkCurrentController("Topics") @checkCurrentController("Topic")" asp-area="Admin" asp-controller="#" asp-action="#">Reports</a>*@


        }
        else
        {
            <a class="nav-link @checkCurrentController("Exams") @checkCurrentController("Exam")" asp-controller="Exams" asp-action="Index" asp-area="User">Student Exams</a>
        }

    }

</div>



@functions {

    public string checkCurrentController(string nameController)
    {
        var currentController = this.ViewContext.RouteData.Values["controller"].ToString();
        if (currentController == nameController)
            return "active";
        return "";
    }
}


