@model  ExamTesting.Models.UserExam


<div id="form-container" class="row">

    <div class="col">

        <div class="col mb-4 h3 font-weight-normal">
            @Model.Exam.ExamCode : @Model.Exam.ExamName
        </div>

        <div class="p-4 bg-light rounded col">

            @(Html.DevExtreme().Form<ExamTesting.Models.Exam>()
            .ID("form")
            .ColCount(1)
            .Items(items =>
            {
                items.AddGroup()
                    .Caption("Exam Info")
                    .Template(@<text>
                        <div class="h6 font-weight-normal">
                            Code : @Model.Exam.ExamCode
                        </div>

                        <div class="h6 font-weight-normal">
                            Subject : @Model.Exam.Subject.SubjectName
                        </div>

                        <div class="h6 font-weight-normal">
                            Version : @Model.Exam.ExamVersion
                        </div>

                        <div class="h6 font-weight-normal">
                            Strat Date : @String.Format("{0:d MMMM yyyy}", @Model.Exam.StartDate)
                        </div>

                        <div class="h6 font-weight-normal">
                            End Date: @String.Format("{0:d MMMM yyyy}", @Model.Exam.EndDate)
                        </div>

                        <div class="h6 font-weight-normal text-danger">
                            Remaining Day : @Model.Exam.RemainingDay
                        </div>


                        <div class="row pt-4">
                            <div class="text-left col">
                                @(Html.DevExtreme().Button()
                                   .Icon("back")
                                   .OnClick("Back")
                                )
                            </div>

                            <div class="text-right col">

                                 @(Html.DevExtreme().Button()
                                    .Type(ButtonType.Default)
                                    .Text("Start Exam")
                                    .OnClick("StartExam")
                                )
                            </div>
                            
                        </div>

                    </text>);

            })

            )


        </div>

    </div>


    <div class="col-3 row">

        <div class="card w-100 h-25 bg-light">

        </div>

        <div class="card w-100 h-25 bg-light">

        </div>

        <div class="card w-100 h-25 bg-light">

        </div>

        <div class="card w-100 h-25 bg-light">

        </div>
    </div>

</div>




<script>
    function Back() {
        window.location.href = "@Url.Action("Index","Exams")";
    }

    function StartExam() {
        window.location.href = "@Url.Action("Start")/@Model.ExamId";
    }

</script>
