@model ExamTesting.Models.UserExam


    <div id="form-container" class="row">

        <div class="col">

            <div class="p-4 bg-light rounded col">

                @(Html.DevExtreme().Form<ExamTesting.Models.Exam>()
                .ID("form")
                .ColCount(2)
                .Items(items =>
                {
                    items.AddGroup()
                        .Caption("Exam Info")
                        .Template(@<text>
                            <div class="h6 font-weight-normal">
                                Code : @Model.Exam.ExamCode
                            </div>
                                    
                            <div class="h6 font-weight-normal">
                                Exam : @Model.Exam.ExamName
                            </div>                                   

                            <div class="h6 font-weight-normal">
                                Subject : @Model.Exam.Subject.SubjectName
                            </div>

                            <div class="h6 font-weight-normal">
                                Version : @Model.Exam.ExamVersion
                            </div>
                        </text>);
            
                    items.AddGroup()
                        .Caption("Exam result")
                        .Template(@<text>
                            <div class="h6 font-weight-normal">
                                Total Score : @Model.TotalQuestionScore
                            </div>

                            <div class="h6 font-weight-normal">
                                Passing Rate : @Model.Exam.PercentPass %
                            </div>
                            <br />
                            <div class="h6 font-weight-normal text-dark">
                                <b>Your Earn Score : @Model.TotalEarnScore </b>
                            </div>
                                                                        
                            <div class="h6 font-weight-normal text-dark">
                                <b>Your Percentage : @Model.Percentage %</b>
                            </div>

                        </text>);

                })

                )

                <div class="row pt-4">                                           

                    <div class="text-right col">

                        @if (Model.Percentage >= Model.Exam.PercentPass)
                        {
                            <div class="text-center bg-success font-weight-light p-1">
                                <h4 class="text-white">Congratulation! You Pass</h4>
                            </div>
                        }
                        else
                        {
                            <div class="text-center bg-danger font-weight-light p-1">
                                <h4 class="text-white">Sorry, Please try again</h4>
                            </div>

                        }

                        <br />

                        @(Html.DevExtreme().Button()
                            .Type(ButtonType.Normal)
                            .Text("Exit")
                            .OnClick("Exit")
                        )

                    </div>

                </div>
                    
            </div>

        </div>


        <div class="col-3 bg-light"></div>


    </div>

<script>
    function Exit() {
        window.location.href = "@Url.Action("Index","Exams")";
    }
</script>